.container-fluid{
    background-color: #D8D9D7;
    min-height: 100vh;    
}

.col{
    background-color: #A6998F;
    border-radius: 10px;
    margin: 20px;
    color: white;
}

.mid{
    height: 650px;
}

.low{
    height: 450px;
}

.side-up{
    height: 80%;
}
.side-down{
    height: 20%;
}

