.container-fluid{
    background-color: #220126;
    min-height: 100vh;    
}
.navbar{
    margin: 20px;
    color: white;
    text-decoration: none;
}

.text{
    background-color: #660273 ;
    color: white;
}

.row{
    margin: 10px;
    border-radius: 10px;
}

img{
    border-radius:190px;
    height: 400px;
    width: 400px;
    margin: 40px;
}

.chat {
    background-color: #A904BF;
    width: 600px;
    border-radius: 10px;
}

.chat-content{
    background-color: #A904BF;
    width: 600px;
    border-radius: 10px;
}
.low{
    height: 600px;
    color: white;
    border-radius: 10px;
}