---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Github from '../components/icons/Github.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
			class="rounded-full w-12 h-12 mb-4" 
			src="https://p.turbosquid.com/ts-thumb/bh/FX5mo1/pq/mesocricetusauratusgold3dsmodel001/jpg/1681427012/1920x1080/fit_q87/240d72940b801655ac293728aa68005abb1117d2/mesocricetusauratusgold3dsmodel001.jpg" 
			alt="Alex photo"
			
			/>

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy Alexander
				 <a class="flex justify-center items-center" href="https://www.linkedin.com/in/alexander-bolivar-19381a131/" target="_blank" rel="noopener"><Badge>Disponible para trabajar</Badge>
				</a></h1>
			<h2 class="text-2xl opacity-80 text-wrap"><span>+5 años de experencia.</span> <span class="text-yellow-200/90">Desarrollador web y creador de contenido</span> <span class="text-red-100/90">de colombia. </span><span class="opacity-75">Especializado en backend</span>  </h2>
			<nav class="flex gap-x-2 mt-4">				
				<SocialPill href="https://www.linkedin.com/in/alexander-bolivar-19381a131/">
					<Linkedin class="w-6 h-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/mesocrisetus">
					<Github class="w-6 h-6"/>
					Github
				</SocialPill>
			</nav>				
		</section>
	</main>
	
</Layout>

