---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
			class="rounded-full w-12 h-12 mb-4" 
			src="https://p.turbosquid.com/ts-thumb/bh/FX5mo1/pq/mesocricetusauratusgold3dsmodel001/jpg/1681427012/1920x1080/fit_q87/240d72940b801655ac293728aa68005abb1117d2/mesocricetusauratusgold3dsmodel001.jpg" 
			alt="Alex photo"
			
			/>

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy Alexander
				 <a class="flex justify-center items-center" href="https://www.linkedin.com/in/alexander-bolivar-19381a131/" target="_blank" rel="noopener"><Badge>Disponible para trabajar</Badge>
				</a></h1>
			<h2 class="text-xl opacity-80">+5 años de experencia, Desarrollador web y creador de contenido, de colombia </h2>
		</section>
	</main>
	
</Layout>

