---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: '2024',
        title:'TREASURE',
        description:'Coordinador IT bilingüe',        
    },
    {
        date: '2024',
        title:'ARUS',
        description:'Analista de Seguridad bilingüe',        
    },
    {
        date: '2021-2023',
        title:'[24]7.AI',
        description:'Coordinador IT bilingüe',        
    },
    {
        date: '2020-2021',
        title:'ALMACONTACT',
        description:'Analista IT',        
    },
    {
        date: '2019',
        title:'ARUS',
        description:'Analista IT',        
    },
    {
        date: '2018',
        title:'EAFIT',
        description:'Analista IT',        
    },
    ]

---


<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) =>( 
             <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
             </li>
        ))
    }                  

</ol>

